Makefile
Makefile.in
aclocal.m4
autom4te.cache
configure
config.guess
config.log
config.status
config.status.lineno
config.sub
gnome-doc-utils.make
install-sh
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
missing
mkinstalldirs
py-compile
